.messages {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__messages-container {
    flex-grow: 1;
    overflow-y: scroll;
    border-radius: 0.28571429rem;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
    border: 1px solid rgba(34, 36, 38, 0.15);
    padding: 1em;
  }

  &__messages-wrapper {
    display: flex;
    flex-direction: column;
  }
}
