@use '@assets/mixins' as *;

.guest-message {
  @include message;

  &__content {
    @include messageContent;
  }

  &__image {
    @include imageMessage;
    margin-left: 40px;
  }

  &__user-photo {
    width: 33px;
    height: 33px;
    object-fit: cover;
    margin-right: 0.5em;
    border-radius: 50%;
  }

  &__user-name {
    position: absolute;
    top: 0;
    left: 0;
    color: #7c7e83;
    font-size: 0.8rem;
    transform: translate(12px, -100%);
  }

  &__content-container {
    position: relative;
  }
}
