@use '@assets/mixins' as *;

.user-message {
  @include message;
  align-self: flex-end;

  &__image {
    @include imageMessage;
    align-self: flex-end;
  }

  &__content {
    @include messageContent;
    color: white;
    background-color: #0084ff;
  }
}
