@use '@assets/breakpoints'  as *;

.user-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;

  &__image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 1em;
  }

  &__chat-text {
    font-weight: bold;
    font-size: 1.6rem;
  }

  &__user-image-chat-wrapper {
    display: flex;
    align-items: center;
  }

  &__icons {
    display: none;

    @include breakpoint(small) {
      display: flex;
    }

    i {
      background-color: var(--grey);
      padding: 0.6em;
      border-radius: 50%;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
}
