@mixin inputContainer {
}

@mixin label {
  margin-bottom: 0.3em;
  display: block;
}

@mixin input {
  display: block;
  width: 50%;
  padding: 0.5em 0.2em;
  outline: none;
  border: 1px solid #000;
  margin-bottom: 1em;
}
