@mixin message {
  border-radius: 18px;
  padding: 0.5em 1em;
  margin-bottom: 0.2em;
  width: fit-content;
}

@mixin input {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--grey);
}
