@use '@assets/mixins';

.search-message {
  margin-bottom: 1.5em;
  position: relative;

  &__input {
    @include mixins.input;
    padding: 0.75em 0;
    border-radius: inherit;
    padding-left: 34px;
    border-radius: 200px;

    &::placeholder {
      font-size: 0.9rem;
    }
  }

  &__search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
}
