@import '@assets/mixins';

.received-message {
  display: flex;
  align-items: center;

  &__contact-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5em;
  }

  &__message {
    @include message;
    background-color: #e4e6eb;
  }
}
